@import "tailwindcss";

html,
body {
  background-color: #171717; /* neutral-900 dark grey */
  color: #f5f5f5;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Prevent caret/highlight cursor on headings and buttons */
h1, h2, h3, h4, h5, h6, button, a {
  user-select: none;
  -webkit-user-select: none;
  outline: none;
}